.christmas_balls_and_image_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 190vh;
  margin-top: 50px;
}

.christmas_ball_dark_red {
  background-image: url(../images/christmas-ball-dark-red-2.png);
}

.profile_image {
  background-image: url(../images/profile_image_2.jpg);
  height: 220px;
  width: 220px;
  border-radius: 50%;
  border: #edeae4 10px solid;
  align-self: flex-end;
  position: absolute;
  top: 32%;
  left: 68%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.christmas_ball_light_pink {
  background-image: url(../images/christmas_ball_light_pink.png);
  margin-top: 40px;
}

.christmas_ball_dark_red,
.christmas_ball_light_pink {
  height: 95vh;
  width: 95vw;
  background-size: contain;
  background-position: center center;
}

h1,
h2,
.body_text {
  color: #edeae4;
  position: absolute;
  z-index: 1;
  left: 50%;
}

h1 {
  top: 12%;
  transform: translate(-50%, -30%);
}

h2 {
  top: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: auto;
  width: 300px;
}

.body_text {
  transform: translate(-45%, -50%);
}

#paragraph_one {
  top: 55%;
  color: #630c19;
}

#paragraph_two {
  top: 87%;
}

.song_citation {
  max-width: 220px;
  margin-top: 150px;
}

@media screen and (min-width: 480px) {
  .christmas_balls_and_image_container {
    height: 190vh;
  }
}

@media screen and (min-width: 540px) {
  .christmas_balls_and_image_container {
    height: 220vh;
  }

  .profile_image {
    height: 250px;
    width: 250px;
    top: 32%;
    left: 65%;
  }

  h1 {
    top: 13%;
    transform: translate(-70%, -30%);
  }

  h2 {
    top: 22%;
    transform: translate(-60%, -110%);
    width: 350px;
    text-align: right;
  }

  .song_citation {
    max-width: 300px;
  }
}

@media screen and (min-width: 600px) {
  .christmas_balls_and_image_container {
    height: 240vh;
  }
  .profile_image {
    height: 260px;
    width: 260px;
  }
}

@media screen and (min-width: 768px) {
  .christmas_balls_and_image_container {
    height: 120vh;
    margin-top: 50px;
  }

  .christmas_ball_dark_red {
    height: 120vh;
    width: 120vw;
  }

  .hide {
    display: none;
  }

  h1 {
    top: 35%;
    transform: translate(-50%, -50%);
  }

  h2 {
    top: 42%;
    width: 450px;
    text-align: center;
    transform: translate(-50%, -80%);
  }

  #paragraph_one {
    color: #edeae4;
    top: 56%;
  }

  #paragraph_two {
    top: 76%;
    left: 50%;
  }

  .profile_image {
    height: 300px;
    width: 300px;
    top: 98%;
    left: 78%;
  }

  .song_citation {
    max-width: 260px;
    margin-top: 250px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    top: 46%;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    top: 49%;
    width: 600px;
  }

  #paragraph_one {
    top: 57%;
  }

  #paragraph_two {
    top: 70%;
  }

  .profile_image {
    top: 97%;
    left: 75%;
  }

  .song_citation {
    max-width: 800px;
    line-height: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .christmas_balls_and_image_container {
    height: 140vh;
  }

  .christmas_ball_dark_red {
    height: 150vh;
    width: 150vw;
  }

  h1 {
    top: 38%;
  }

  h2 {
    top: 50%;
  }

  #paragraph_one {
    top: 58%;
  }

  #paragraph_two {
    top: 72%;
  }

  .profile_image {
    height: 400px;
    width: 400px;
  }
}

@media screen and (min-width: 1680px) {
  h2 {
    top: 52%;
  }

  #paragraph_one {
    top: 60%;
  }

  .song_citation {
    margin-top: 300px;
    max-width: 850px;
  }
}
