/* Containers*/

.focus_post_container {
  background-color: #282c11;
  margin: 0;
  margin-bottom: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.focus_post_text_container {
  margin: 40px 20px 0;
}

.card_container_of_posts {
  margin: auto 20px 100px;
}

.card {
  margin: 50px 0;
  padding-bottom: 20px;
  transition: all 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #934f28;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.song_verse_card {
  border: none;
  margin-top: 100px;
}

/* Text*/
h1 {
  margin: 80px 10px auto;
  letter-spacing: 4px;
  padding-bottom: 40px;
}

h1,
h2 {
  text-align: center;
}

h1,
.card {
  color: #703e21;
}

.focus_title {
  font-size: 20px;
}

.focus_title,
.focus_text,
.post_button,
.focus_button:hover {
  color: #edeae4;
}

.post_title {
  margin-bottom: auto;
}

.body_text {
  margin-top: auto;
  margin-bottom: 30px;
}

.post_title,
.body_text {
  margin-left: 20px;
  margin-right: 20px;
}

.song_citation {
  margin: 0;
  padding-bottom: 20px;
}

/*Image, buttons and icons */
.focus_image,
.featured_image {
  max-width: 100%;
  height: auto;
}

.post_button {
  margin: auto;
}

.post_button,
.focus_button:hover {
  background-color: darkred;
  border: none;
}

.focus_button,
.post_button:hover {
  background-color: #edeae4;
  border: 2px solid #703e21;
  color: #703e21;
}

#load_more {
  width: 80%;
  padding: 20px;
  background-color: #edeae4;
  border: 1px solid #934f28;
  color: #703e21;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border-radius: 30px;
  font-size: 18px;

  letter-spacing: 2px;
}

#load_more:hover {
  background-color: #934f28;
  border: 2px solid #703e21;
  color: #edeae4;
}

.card_actions {
  margin: 8px;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#load_more:not([disabled]):hover {
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
}

#load_more[disabled] {
  display: none;
}

.fa-chevron-down {
  margin-left: 20px;
}

span {
  display: none;
}

@media screen and (min-width: 480px) {
  .card_container_of_posts {
    margin-left: 55px;
    margin-right: 55px;
  }

  #load_more {
    width: 60%;
  }
}

@media screen and (min-width: 540px) {
  .focus_title {
    font-size: 22px;
  }

  .card_container_of_posts {
    margin-left: 65px;
    margin-right: 65px;
  }

  #load_more {
    width: 55%;
  }
}

@media screen and (min-width: 600px) {
  .focus_title {
    font-size: 24px;
  }

  .card_container_of_posts {
    margin-left: 75px;
    margin-right: 75px;
  }

  #load_more {
    width: 48%;
  }
}

@media screen and (min-width: 768px) {
  .focus_title {
    font-size: 26px;
  }

  .focus_post_container {
    margin-bottom: 50px;
  }

  .focus_image {
    border: 15px solid #934f28;
  }

  .focus_post_text_container {
    width: 80%;
    margin: 40px auto 40px auto;
  }

  .card_container_of_posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: calc((100% / 2) - 15px);
  }

  .song_verse_card {
    display: none;
  }

  #load_more {
    width: 38%;
  }
}

@media screen and (min-width: 880px) {
  .focus_image_and_text_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .focus_post_text_container {
    width: 40%;
    margin-bottom: 0;
  }

  .focus_image {
    margin: 60px 20px 0;
    width: 60%;
    height: 60%;
  }

  .focus_post_container {
    align-items: flex-end;
  }

  .focus_title {
    font-size: 24px;
  }

  .focus_button {
    margin-right: 10%;
  }

  #load_more {
    width: 34%;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    margin-top: 100px;
  }

  .focus_title,
  .body_text {
    margin: 10px;
  }

  .focus_post_container {
    margin-top: 30px;
  }

  .focus_post_text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
  }

  .focus_image_and_text_container {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
  }

  #load_more {
    width: 32%;
  }
}

@media screen and (min-width: 1280px) {
  .focus_text {
    line-height: 40px;
  }

  .focus_button_container {
    right: 240px;
    top: 830px;
  }

  .card_container_of_posts {
    margin-left: 0;
    margin-right: 0;
  }

  .card {
    width: calc((100% / 3) - 20px);
  }

  #load_more {
    width: 30%;
  }
}

@media screen and (min-width: 1440px) {
  .focus_post_text_container {
    margin-top: 90px;
  }

  .focus_text {
    margin-left: 50px;
    margin-right: 50px;
  }

  .focus_button {
    width: 200px;
  }
  .card {
    width: calc((100% / 3) - 25px);
  }

  #load_more {
    width: 26%;
  }
}

@media screen and (min-width: 1680px) {
  .focus_post_text_container {
    margin-top: 35px;
    width: 35%;
  }

  .focus_title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 50px;
  }

  .focus_text {
    line-height: 45px;
  }

  .focus_button {
    margin-right: 12%;
  }
  .card {
    width: calc((100% / 3) - 35px);
  }

  #load_more {
    width: 24%;
  }
}

@media screen and (min-width: 1900px) {
}
