/* Containers*/

.focus_post_container {
  background-color: #282c11;
  margin: 0;
  margin-bottom: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.focus_post_text_container {
  margin: 40px 20px 0;
}

.card_container_of_posts {
  margin: auto 20px 100px;
}

.card {
  margin: 50px 0;
  padding-bottom: 20px;
  transition: all 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #934f28;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.song_verse_card {
  border: none;
  margin-top: 100px;
}

/* Text*/
h1 {
  margin: 80px 10px auto;
  letter-spacing: 4px;
  padding-bottom: 40px;
}

h1,
h2 {
  text-align: center;
}

h1,
.card {
  color: #703e21;
}

.focus_title {
  font-size: 20px;
}

.focus_title,
.focus_text,
.post_button,
.focus_button:hover {
  color: #edeae4;
}

.post_title {
  margin-bottom: auto;
}

.body_text {
  margin-top: auto;
  margin-bottom: 30px;
}

.post_title,
.body_text {
  margin-left: 20px;
  margin-right: 20px;
}

.song_citation {
  margin: 0;
  padding-bottom: 20px;
}

/*Image, buttons and icons */
.focus_image,
.featured_image {
  max-width: 100%;
  height: auto;
}

.focus_button {
  background-color: #edeae4;
  border: 2px solid #703e21;
}

.post_button {
  background-color: #861024;
  border: none;
  margin: auto;
}

.focus_button:hover {
  background-color: darkred;
}

.post_button:hover {
  background-color: #edeae4;
  border: 2px solid #703e21;
  color: #703e21;
}

#load_more {
  width: 80%;
  padding: 20px;
  background-color: #edeae4;
  border: 1px solid #934f28;
  color: #703e21;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border-radius: 30px;
  font-size: 18px;

  letter-spacing: 2px;
}

.card_actions {
  margin: 8px;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#load_more:not([disabled]):hover {
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
}

#load_more[disabled] {
  background-color: #edeae4 !important;
}

.fa-chevron-down {
  margin-left: 20px;
}

span {
  display: none;
}

@media screen and (min-width: 480px) {
  .card_container_of_posts {
    margin-left: 55px;
    margin-right: 55px;
  }
}

@media screen and (min-width: 540px) {
  .card_container_of_posts {
    margin-left: 65px;
    margin-right: 65px;
  }
}

@media screen and (min-width: 600px) {
  .card_container_of_posts {
    margin-left: 75px;
    margin-right: 75px;
  }
}

@media screen and (min-width: 768px) {
  .card_container_of_posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: calc((100% / 2) - 15px);
  }

  .song_verse_card {
    display: none;
  }
}

@media screen and (min-width: 880px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
  .card_container_of_posts {
    margin-left: 0;
    margin-right: 0;
  }

  .card {
    width: calc((100% / 3) - 20px);
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: calc((100% / 3) - 25px);
  }
}

@media screen and (min-width: 1680px) {
  .card {
    width: calc((100% / 3) - 35px);
  }
}
