.holly_image {
  background-image: url(../images/holly-berries-1082138_1280.jpg);
}

.contact_container {
  background-color: #edeae4;
  border: 15px solid #703e21;
}

/* Text */

.contact_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
.body_text,
label,
input {
  color: #703e21;
}

h1,
h2,
.body_text {
  margin: 80px 0 auto 0;
  text-align: center;
  max-width: 85%;
}

h2,
.body_text {
  margin-top: 30px;
}

.body_text {
  text-align: left;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.first_column_on_desktop_screens,
.second_column_on_desktop_screens {
  margin-top: 50px;
}

label,
input,
textarea {
  letter-spacing: 1px;
}

label {
  font-weight: 600;
}

.song_citation {
  max-width: 70%;
}
/*Fieldset details*/

fieldset {
  border: none;
}

input,
textarea {
  display: block;
  border: 1px solid;
  font-size: 16px;
  background-color: #edeae4;
  border-radius: 5px;
  color: #703e21;
}

input {
  padding: 10px 20px;
  margin-top: 2px;
}

textarea {
  height: 100px;
  padding: 20px 25px;
}

.label_and_input_container {
  margin: 25px 0 auto 0;
}

input,
textarea {
  border-color: #703e21;
}

.submit_button {
  background-color: #861024;
  color: #edeae4;
  border-radius: 30px;
  margin-top: 50px;
}

.form_error {
  display: none;
  color: red;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 25px;
}

@media screen and (min-width: 480px) {
  fieldset {
    align-items: flex-start;
  }

  textarea {
    width: 300px;
    height: 120px;
  }
}

@media screen and (min-width: 540px) {
  fieldset {
    margin-left: 30px;
  }

  .song_citation {
    max-width: 60%;
  }
}

@media screen and (min-width: 600px) {
  .contact_container {
    margin-top: -150px;
    margin-left: 70px;
    margin-right: 70px;
    align-items: flex-start;
  }

  #bottom_image {
    display: none;
  }

  fieldset {
    align-items: flex-start;
  }

  input {
    width: 170px;
    margin-right: 35px;
  }

  textarea {
    width: 290px;
    height: 150px;
  }
}

@media screen and (min-width: 768px) {
  .contact_container {
    margin-top: -180px;
  }

  fieldset {
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }

  textarea {
    width: 160px;
    height: 105px;
  }

  .song_citation {
    max-width: 55%;
  }
}

@media screen and (min-width: 880px) {
  .contact_container {
    margin-top: -200px;
    margin-left: 100px;
    margin-right: 100px;
  }

  h1,
  h2,
  .body_text {
    max-width: 80%;
  }

  .song_citation {
    max-width: 45%;
  }
}

@media screen and (min-width: 1024px) {
  .contact_container {
    margin-top: -165px;
    margin-left: 160px;
    margin-right: 160px;
  }

  h1,
  h2,
  .body_text {
    max-width: 75%;
  }

  fieldset {
    margin-left: auto;
    justify-content: center;
  }

  label,
  input {
    margin-left: 0;
  }

  .song_citation {
    line-height: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .contact_container {
    margin-top: -180px;
    margin-left: 180px;
    margin-right: 180px;
  }

  label,
  input {
    margin-left: 0;
  }

  .song_citation {
    max-width: 40%;
  }
}

@media screen and (min-width: 1440px) {
  .contact_container {
    margin-top: -220px;
    margin-left: 230px;
    margin-right: 230px;
    width: 750px;
  }

  h1,
  h2,
  .body_text {
    max-width: 70%;
  }

  .song_citation {
    max-width: 35%;
  }
}

@media screen and (min-width: 1680px) {
  .contact_container {
    margin-left: 195px;
    margin-right: 195px;
    width: 880px;
  }

  h1,
  h2,
  .body_text {
    max-width: 70%;
  }

  h1 {
    margin-top: 100px;
  }

  h2,
  .body_text {
    margin-top: 50px;
  }

  .body_text {
    line-height: 50px;
  }

  .song_citation {
    line-height: 60px;
  }
}
