nav {
  border: none;
}

main {
  text-align: center;
}

#welcome_image {
  background-image: url(../images/christmas_town.jpg);
}

h1 {
  color: #edeae4;
  display: inline-block;
  margin: 50px 0 0 0;
}

h2 {
  margin: 10px;
}

.song_citation {
  max-width: 220px;
  margin-top: 100px;
  margin-bottom: auto;
}

/* Latest post carousel */

#latest_post_container {
  background-color: #282c11;
}

.post_link {
  text-decoration: none;
}

.post_title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #edeae4;
  text-transform: none;
}

.featured_image {
  max-width: 100%;
  border: 15px solid #703e21;
  margin-top: 30px;
}

.slide_wrapper {
  margin: auto;
  position: relative;
  overflow: hidden;
}

.slides_container {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0 0 30px 0;
  padding: 0 0 120px 0;
}

.slides_container::-webkit-scrollbar {
  display: none;
}

.slide_arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 40px;
  margin: 0 120px 10px 120px;
  height: 60px;
  background-color: #edeae4;
  border: none;
  width: 60px;
  font-size: 50px;
  color: #282c11;
  padding: 0;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide_arrow:hover,
.slide_arrow:focus {
  opacity: 1;
}

#slide_arrow_prev,
#slide_arrow_next {
  padding-left: 2px;
  border-radius: 90px;
}

#slide_arrow_prev {
  left: 0;
}

#slide_arrow_next {
  right: 0;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  margin: 0;
}

/* Christmas countdown clock*/

.christmas_countdown_container {
  margin-top: 150px;
}
.christmas_countdown_clock {
  font-family: Lily Script One, Open-Sans;
  font-size: 30px;
  line-height: 50px;
}

.christmas_countdown_text {
  font-family: "Merriweather", serif;
  font-size: 20px;
}

.christmas_countdown_clock,
.christmas_countdown_text {
  color: #934f28;
}

footer {
  margin-top: 150px;
}

@media screen and (min-width: 480px) {
  .featured_image {
    max-width: 90%;
    margin-top: 30px;
  }

  .slide_arrow {
    margin-left: 160px;
    margin-right: 160px;
  }

  .christmas_countdown_clock {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  .slide_arrow {
    margin-left: 180px;
    margin-right: 180px;
  }

  .christmas_countdown_clock {
    font-size: 36px;
  }
}
@media screen and (min-width: 600px) {
  .slide_arrow {
    margin-left: 210px;
    margin-right: 210px;
  }

  .christmas_countdown_clock {
    font-size: 38px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .featured_image {
    margin-top: 20px;
  }

  .post_title {
    padding-left: 15px;
    padding-right: 15px;
  }

  .slide_arrow {
    margin-left: 275px;
    margin-right: 275px;
  }
  .slide {
    flex: 1 0 50%;
  }

  .song_citation {
    max-width: 350px;
  }
  .christmas_countdown_clock {
    font-size: 44px;
  }
}

@media screen and (min-width: 880px) {
  #welcome_image {
    background-position-y: center;
    height: 55vh;
  }

  .slide_arrow {
    margin-left: 350px;
    margin-right: 350px;
  }
  .christmas_countdown_clock {
    font-size: 48px;
  }
}

@media screen and (min-width: 1024px) {
  #welcome_image {
    height: 60vh;
  }

  #latest_post_container {
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  h1 {
    position: absolute;
    bottom: 5px;
  }

  h2 {
    margin-left: auto;
    margin-right: auto;
  }

  .slide_arrow {
    margin: 0 30px 20px 30px;
    bottom: 15px;
  }

  .slide {
    flex: 1 0 33%;
  }

  .song_citation {
    max-width: 370px;
  }

  .christmas_countdown_clock {
    font-size: 50px;
  }
}

@media screen and (min-width: 1280px) {
  #welcome_image {
    height: 65vh;
  }
  .christmas_countdown_clock {
    font-size: 50px;
  }
}

@media screen and (min-width: 1440px) {
  #welcome_image {
    height: 70vh;
  }

  .slide_arrow {
    margin-left: 180px;
    margin-right: 180px;
    bottom: 15px;
  }

  .christmas_countdown_clock {
    font-size: 55px;
  }
}

@media screen and (min-width: 1680px) {
  #welcome_image {
    height: 75vh;
  }

  h1 {
    bottom: 30px;
  }

  h2 {
    line-height: 50px;
  }

  .slide_arrow {
    bottom: 40px;
  }

  #latest_post_container {
    padding-bottom: 100px;
  }

  .song_citation {
    max-width: 450px;
  }
}
