header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

#logo {
  font-family: Lily Script One, Open-Sans;
  font-size: 42px;
  text-decoration: none;
}

.logo_container {
  max-width: 210px;
  text-align: left;
  margin: 15px 0 10px 20px;
}

.fa-bars {
  margin: 10px;
  padding: 10px;
  font-size: 25px;
}

nav,
#menu_checkbox {
  display: none;
}

#menu_checkbox:checked ~ nav {
  display: block;
}

nav {
  position: absolute;
  background-color: #edeae4;
  top: 65px;
  right: 0;
  padding: 10px 20px;
  border-radius: 0 0 0 5px;
}

nav .menu_item {
  display: block;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 18px;
}

nav .menu_item:hover {
  background-color: #934f28;
  color: #edeae4;
  border-radius: 30px;
}

nav .active {
  text-decoration: underline;
}

#logo,
.fa-bars,
.menu_item {
  color: #934f28;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 540px) {
}
@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 880px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 1680px) {
}

@media screen and (min-width: 1780px) {
}

@media screen and (min-width: 1920px) {
}

@media screen and (min-width: 2100px) {
}
