/*Universal styles------------------------------------------------------------------------------*/

body {
  background-color: #edeae4;
  margin: auto;
}

/* Text  */
h1,
.copyright {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

h2,
.body_text,
.song_citation {
  font-family: "Merriweather", serif;
}

.body_text,
.button_text {
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 1px;
  font-size: 16px;
}

.song_citation {
  font-size: 20px;
  font-style: italic;
  color: #861024;
  margin: auto;
}

.text_formatting {
  line-height: 40px;
  letter-spacing: 2px;
}

.button_text {
  font-weight: 700;
}

/* Images and buttons */

button {
  padding: 10px 30px;
  border-radius: 30px;
}

.background_images {
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.horisontal_line {
  border-bottom: 1px solid #934f28;
  margin-bottom: 5px;
  margin-top: 15px;
  width: 75%;
}

/*Footer*/

footer {
  margin-top: 200px;
  margin-bottom: auto;
  padding: 60px 0px 10px;
  background-color: #282c11;
}

footer,
.soMe_links i {
  color: #edeae4;
}

.soMe_links i {
  font-size: 30px;
  padding: 10px;
  opacity: 50%;
}

@media screen and (min-width: 480px) {
  .horisontal_line {
    width: 70%;
  }
}
@media screen and (min-width: 540px) {
  .horisontal_line {
    width: 65%;
  }
}
@media screen and (min-width: 600px) {
  .horisontal_line {
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  /* Text  */
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
  }

  .body_text,
  .button_text {
    font-size: 18px;
  }

  .song_citation {
    font-size: 22px;
  }

  .text_formatting {
    letter-spacing: 3px;
  }

  .horisontal_line {
    width: 55%;
  }
}

@media screen and (min-width: 880px) {
  .horisontal_line {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  /* Text  */
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 25px;
  }

  .body_text,
  .button_text {
    font-size: 18px;
  }

  .song_citation {
    font-size: 25px;
  }

  .horisontal_line {
    width: 42%;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    margin-left: 100px;
    margin-right: 100px;
  }

  .horisontal_line {
    width: 38%;
  }
}

@media screen and (min-width: 1440px) {
  .horisontal_line {
    width: 35%;
  }
}

@media screen and (min-width: 1680px) {
  .wrapper {
    margin-left: 200px;
    margin-right: 200px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
  }

  .body_text,
  .button_text {
    font-size: 20px;
  }

  .song_citation {
    font-size: 30px;
  }
}

@media screen and (min-width: 1780px) {
  .wrapper {
    margin-left: 250px;
    margin-right: 250px;
  }
}

@media screen and (min-width: 1920px) {
  .wrapper {
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media screen and (min-width: 2100px) {
  .wrapper {
    margin-left: 400px;
    margin-right: 400px;
  }
}
